lecture/
DigitLabwork#4.docx
DigitLabwork#5.docx
DigitLabwork#6.docx
00_Syllabus.pdf
SystemVerilog_3.1_final.pdf
UEVerilogTutorial.pdf
dlab1004.pdf
dlab1004.pptx
dlab_StudentsCherub.xlsx
lab03_task_clock/CLOCK 測資錯誤.pdf
verilog-a-lrm-1-0.pdf
Introduction_to_VGA_on_FPGA.pdf
fpga_lab03/reference/
